---
title: "Home"
layout: "home.njk"
---

<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="images/frances.jpg" alt="hi" /></a>
					<h1><strong>Frances Nizama</strong><br />
					Professional Photographer</h1>
				</div>
			</header>
            <div id="main">
			<!-- One -->
                <section id="one">
                    <header class="major">
                        <h2>Welcome to my portfolio!</h2>
                    </header>
                    <p>Here's a gallery of my work! Click below to learn more about me!</p>
                    <ul class="actions">
                        <li><a href="/about" class="button">About Me</a></li>
                    </ul>
                </section>
                <section id="two">
                    <h2>Recent Work</h2>
                    <div class="row">
                        <article class="col-6 col-12-xsmall work-item">
                            <a href="images/fulls/fulls1.jpg" class="image fit thumb"><img src="images/thumbs/thumbs1.jpg" alt="image not found"  /></a>
                            <h3>House of Balloons</h3>
                            <p>Here's a picture that kinda looks like the Weeknd's mixtape House of Balloons.</p>
                        </article>
                        <article class="col-6 col-12-xsmall work-item">
                            <a href="images/fulls/fulls2.jpg" class="image fit thumb"><img src="images/thumbs/thumbs2.jpg" alt="image not found" /></a>
                            <h3>Purgatory</h3>
                            <p>Very eery, looks like an in-between space between worlds.</p>
                        </article>
                        <article class="col-6 col-12-xsmall work-item">
                            <a href="images/fulls/fulls3.jpg" class="image fit thumb"><img src="images/thumbs/thumbs3.jpg" alt="image not found" /></a>
                            <h3>Exit</h3>
                            <p>Exit signs with double vision.</p>
                        </article>
                        <article class="col-6 col-12-xsmall work-item">
                            <a href="images/fulls/fulls4.jpg" class="image fit thumb"><img src="images/thumbs/thumbs4.jpg" alt="" /></a>
                            <h3>Center of Life</h3>
                            <p>Very cool angle of a tree.</p>
                        </article>
                    </div>
                    <ul class="actions">
                        <li><a href="/gallery" class="button">Full Portfolio</a></li>
                    </ul>
                </section>
            </div>